{% extends 'base.html' %}

{% block meta %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<style>

    /* div {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

</style>

{% endblock meta %}

{% block content %}

{% include 'navbar_atlet.html' %}
<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">

        <div class="card my-4 shadow">
        <div class="card-body border-dark" style="width: 700px;">

        <div class="pb-3 pt-4 d-flex justify-content-center">
          <p class="h2">Form Registrasi Atlet</p>
        </div>

        <form>
          <div class="form-group row">
            <div class="pb-3 pt-3 d-flex justify-content-md-start">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Nama">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Negara</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Negara">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Tanggal lahir</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="dd/mm/yyyy">
              </div>
            </div>
          </div>
          
          <fieldset class="form-group">
            <div class="row">
              <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <legend class="col-form-label col-sm-2 pt-0">Play</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Right hand
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Left hand
                  </label>
                </div>
              </div>
            </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Tinggi badan</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Tinggi badan">
              </div>
            </div>
          </div>
          
          <fieldset class="form-group">
            <div class="row">
              <div class="pb-3 pt-2 d-flex justify-content-md-start">
              <legend class="col-form-label col-sm-2 pt-0">Jenis Kelamin</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Laki-laki
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Perempuan
                  </label>
                </div>
              </div>
            </div>
            </div>
          </fieldset>

        
          <div class="pb-4 pt-4 d-flex justify-content-md-center"">
            <a href="#" class="btn btn-primary" style="width: 200px; ">Daftar</a>
          </div>
         
          
{% endblock content %}