{% extends 'base.html' %}
{% block meta %}
<title>Hello, world!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }
    #centered-button {
			display: block;
			margin: 20px auto;
		}
    h1, h3 {
			text-align: center;
		}
    /* styling for responsive design */
    @media only screen and (max-width: 600px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }

        th, td {
            text-align: center;
        }

        tr {
            border-bottom: 1px solid #ccc;
        }

        td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
</style>
{% endblock meta %}
{% block content %}
{% include 'navbar_umpire.html' %}

<h1>PERTANDINGAN SEMIFINAL</h1>
<h3>[00:00]</h3>
<table>
    <thead>
        <tr>
            <th>Tim 1</th>
            <th>Tim 2</th>
            <th>Skor Tim 1</th>
            <th>Skor Tim 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Kolom 1">A</td>
            <td data-label="Kolom 2">D</td>
            <td data-label="Kolom 3"><div>
      <button id="decrement">-</button>
      <span id="count">0</span>
      <button id="increment">+</button>
    </div></td>
            <td data-label="Kolom 4"><div>
      <button id="decrement">-</button>
      <span id="count">0</span>
      <button id="increment">+</button>
    </div></td>
        </tr>
        <tr>
            <td data-label="Kolom 1">E</td>
            <td data-label="Kolom 2">G</td>
            <td data-label="Kolom 3"><div>
      <button id="decrement">-</button>
      <span id="count">0</span>
      <button id="increment">+</button>
    </div></td>
            <td data-label="Kolom 4"><div>
      <button id="decrement">-</button>
      <span id="count">0</span>
      <button id="increment">+</button>
    </div></td>
        </tr>
        
        
    </tbody>
</table>
<button id="centered-button">Next</button>
{% endblock content %}