{% extends 'base.html' %}

{% block content %}
<h1>DAFTAR ATLET</h1>

<form>
    <div class="mb-3">
        <label for="dropdownAtlet" class="form-label">Atlet yang mau didaftarkan: </label>
        <select class="form-select" id="dropdownAtlet">
            <option value="Mathew Berge">Mathew Berge</option>
            <option value="Kaleb Jacobi">Kaleb Jacobi</option>
            <option value="Amaya Block">Amaya Block</option>
            <option value="Weldon Daniel">Weldon Daniel</option>
            <option value="Baby Romaguera">Baby Romaguera</option>
            <option value="Ilene Bailey">Ilene Bailey</option>
            <option value="Gilberto Wolff">Gilberto Wolff</option>
            <option value="Matt Haag">Matt Haag</option>
            <option value="Durward Reilly">Durward Reilly</option>
            <option value="Frank Ryan">Frank Ryan</option>
            <option value="Kira Schinner">Kira Schinner</option>
            <option value="Odell Crona">Odell Crona</option>
            <option value="Erick Carter">Erick Carter</option>
            <option value="Carlotta Senger">Carlotta Senger</option>
            <option value="Pansy Yost">Pansy Yost</option>
      </select>
    </div>    
    <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>

{% endblock content %}