{% extends 'base.html' %}

{% block content %}
<h1>LIST ATLET</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nama Atlet</th>
      <th scope="col">Email</th>
      <th scope="col">World Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Kira Schinner</td>
        <td>kira.s23@yahoo.com</td>
        <td>34</td>
    </tr>
    <tr>
        <td>Odell Crona</td>
        <td>odell15@hotmail.com</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Baby Romaguera</td>
        <td>romaguera.baby@yahoo.com</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Erick Carter</td>
        <td>e.carter7@gmail.com</td>
        <td>11</td>
    </tr>
    <tr>
        <td>Ilene Bailey</td>
        <td>ilene@hotmail.com</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Carlotta Senger</td>
        <td>carlotta.s@yahoo.com</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Pansy Yost</td>
        <td>p.yost@yahoo.com</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Gilberto Wolff</td>
        <td>g.wolff@hotmail.com</td>
        <td>17</td>
    </tr>
  </tbody>
</table>

{% endblock content %}