{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sticky collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Tes Kualifikasi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Daftar Event</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Enrolled Event</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Daftar Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">
        <div class="card my-4 shadow col-md-8 col-sm-12 col-xs-12">
            <div class="card-body border-dark">
                <div class="pb-3 pt-4 d-flex justify-content-center">
                    <p class="h2">PILIH KATEGORI</p>
                </div>

                <p class="event-desc"><b>Event:</b> Indonesia Masters</p>
                <p class="event-desc"><b>Hadiah:</b> Rp1.760.000.000</p>
                <p class="event-desc"><b>Tanggal Mulai:</b> 10/09/2024</p>
                <p class="event-desc"><b>Tanggal Selesai:</b> 15/09/2024</p>
                <p class="event-desc"><b>Kategori:</b> S500</p>
                <p class="event-desc"><b>Stadium:</b> Gelora Bung Karno Sports Palace</p>
                <p class="event-desc"><b>Negara:</b> Indonesia</p>

                <table class="table table-kategori">
                    <thead>
                    <tr>
                        <th scope="col">Kategori</th>
                        <th scope="col">Partner</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tunggal Putra</td>
                        <td>-</td>
                        <td><a href="#">Join</a></td>
                    </tr>
                    <tr>
                        <td>Ganda Putra</td>
                        <td>
                            <select class="form-select" id="dropdownGandaPutra">
                                <option value="Mathew Berge">Mathew Berge</option>
                                <option value="Kaleb Jacobi">Kaleb Jacobi</option>
                                <option value="Amaya Block">Amaya Block</option>
                                <option value="Weldon Daniel">Weldon Daniel</option>
                                <option value="Baby Romaguera">Baby Romaguera</option>
                                <option value="Ilene Bailey">Ilene Bailey</option>
                                <option value="Gilberto Wolff">Gilberto Wolff</option>
                            </select>
                        </td>
                        <td><a href="#">Join</a></td>
                    </tr>
                    <tr>
                        <td>Ganda Campuran</td>
                        <td>
                            <select class="form-select" id="dropdownGandaCampuran">
                                <option value="Kira Schinner">Kira Schinner</option>
                                <option value="Matt Haag">Matt Haag</option>
                                <option value="Durward Reilly">Durward Reilly</option>
                                <option value="Frank Ryan">Frank Ryan</option>
                                <option value="Odell Crona">Odell Crona</option>
                                <option value="Erick Carter">Erick Carter</option>
                                <option value="Carlotta Senger">Carlotta Senger</option>
                                <option value="Pansy Yost">Pansy Yost</option>
                            </select>
                        </td>
                        <td><a href="#">Join</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}